[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = {extras = ["email"], version = "*"}
sqlalchemy = "*"
uvicorn = "*"
python-multipart = "*"
passlib = "*"
python-jose = "*"
bcrypt = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
